<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Untitled Form</title>
<link rel="stylesheet" type="text/css" href="view.css" media="all">
<script type="text/javascript" src="view.js"></script>

</head>
<body id="main_body" >

	<img id="top" src="top.png" alt="">
	<div id="form_container">

		<h1><a>Untitled Form</a></h1>
		<form id="form_18941" class="appnitro" action="/registerUser" enctype="multipart/form-data" method="POST" action="return ValidateForm()">
					<div class="form_description">
			<h2>User Registration</h2>
			<p>GATJEE</p>
		</div>
			<ul >

					<li id="li_1" >
		<label class="description" for="element_1">First Name </label>
		<div>
			<input id="first_name" name="e_first_name" class="element text medium" type="text" maxlength="255" value="" required/>
		</div>
		</li>		<li id="li_2" >
		<label class="description" for="element_2">Last Name </label>
		<div>
			<input id="last_name" name="e_last_name" class="element text medium" type="text" maxlength="255" value=""required/>
		</div>
		</li>		<li id="li_3" >
		<label class="description" for="element_3">Username </label>
		<div>
			<input id="username" name="e_username" class="element text medium" type="text" maxlength="255" value="" required/>
		</div><p class="guidelines" id="guide_3"><small>Enter Phone Number</small></p>
		</li>		<li id="li_4" >
		<label class="description" for="element_4">Password </label>
		<div>
			<input id="password" name="e_password" class="element text medium" type="text" maxlength="255" value="" required/>
		</div>
		</li>		<li id="li_5" >
		<label class="description" for="element_5">Class </label>
		<div>
			<input id="class_no" name="e_class_no" class="element text medium" type="text" maxlength="255" value="" required/>
		</div>
		</li>

					<li class="buttons">
			    <input type="hidden" name="form_id" value="18941" />

				<input id="saveForm" class="button_text" type="submit" name="submit" value="Submit" />
		</li>
			</ul>
		</form>
	</div>
	<img id="bottom" src="bottom.png" alt="">
	</body>
</html>
